Repository s07641069/connectedhomeip, pull requests merged in 2024-12, with the labels that each got.

#350 riscv:telink: disable retention ramcode proc.
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
Labels: config, github, workflows

#351 riscv:telink: add config for csma backoff.
  config/telink/chip-module/Kconfig.defaults
Labels: config, DNM

#355 riscv: telink: add dual mode for b92 and buteo and CI.
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/app/bootloader.conf
  config/telink/chip-module/Kconfig.defaults
  examples/lighting-app/telink/src/AppTask.cpp
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/zephyr_ext/zephyr_pwm_pool.c
  src/platform/telink/tl3218x.overlay
  src/platform/telink/tl3218x_2m_flash.overlay
  src/platform/telink/tlsr9528a.overlay
  src/platform/telink/tlsr9528a_4m_flash.overlay
Labels: examples, platform, config, telink, github, workflows, DNM

#352 [Telink] W91 OTA, Factory data commissioning fix
  config/telink/app/bootloader.conf
  config/telink/chip-module/Kconfig.defaults
Labels: config

#357 [Telink] Update tl721x default Kconfig
  config/telink/chip-module/Kconfig.defaults
Labels: config

#360 [Telink] ieee802154 optimization for power consumption
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  src/platform/OpenThread/GenericThreadStackManagerImpl_OpenThread.hpp
  src/platform/telink/SystemPlatformConfig.h
Labels: platform, config, telink, github, workflows
