Repository s07641069/connectedhomeip, pull requests merged in 2025-02, with the labels that each got.

#373 [Telink] Fix binary operations for OTA LZMA dual-mode
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig
  examples/platform/telink/common/include/AppTaskCommon.h
  scripts/tools/telink/process_binaries.py
  src/platform/telink/tl3218x_2m_flash.overlay
  src/platform/telink/tlsr9528a_4m_flash.overlay
Labels: examples, platform, config, telink, scripts

#382 [Telink] zephyr versions compatibility changes
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
  examples/window-app/telink/prj.conf
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/telink/tl3218x_2m_flash.overlay
  src/platform/telink/tl7218x_2m_flash.overlay
  src/platform/telink/tlsr9528a_2m_flash.overlay
Labels: examples, platform, config, telink, github, workflows, scripts

#383 telink: Test CI.
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: config, github, workflows, scripts

#384 riscv: telink: fix insufficient RAM when config LZMA
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
Labels: github, workflows

#385 riscv: telink: add retention mode for buteo
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: github, workflows, scripts
