Repository s07641069/connectedhomeip, pull requests merged in 2025-01, with the labels that each got.

#358 Develop dual fix customer
  config/telink/chip-module/Kconfig.defaults
  examples/lighting-app/telink/include/AppTask.h
  examples/lighting-app/telink/src/AppTask.cpp
  examples/lighting-app/telink/src/ZclCallbacks.cpp
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/common/src/mainCommon.cpp
  src/platform/telink/FactoryDataProvider.cpp
Labels: examples, platform, config, telink, github, workflows

#362 riscv: telink: add functional features for tlsr9528 and tl3218
  config/telink/chip-module/CMakeLists.txt
  config/telink/chip-module/Kconfig.defaults
  examples/lighting-app/telink/process_token.py
  examples/lighting-app/telink/src/ZclCallbacks.cpp
  examples/lighting-app/telink/token.json
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  examples/platform/telink/common/src/mainCommon.cpp
  src/platform/telink/ThreadStackManagerImpl.cpp
  src/platform/telink/tl3218x.overlay
  src/platform/telink/tlsr9528a.overlay
Labels: examples, platform, config, telink

#363 riscv: telink: add driven features for tlsr9528 and tl3218
  config/telink/chip-module/Kconfig.defaults
  examples/lighting-app/telink/src/AppTask.cpp
  examples/platform/telink/common/include/AppTaskCommon.h
  examples/platform/telink/common/src/AppTaskCommon.cpp
  src/platform/telink/BLEManagerImpl.cpp
  src/platform/telink/BLEManagerImpl.h
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/tl3218x.overlay
  src/platform/telink/tlsr9528a.overlay
Labels: examples, platform, config, telink

#364 riscv: telink: update commit id and nvs config
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
Labels: config, github, workflows

#365 riscv: telink: merge zigbee fimware before process_binaries
  config/telink/chip-module/CMakeLists.txt
Labels: config

#366 riscv: telink: load DAC key/cert from flash zone.
  config/telink/chip-module/Kconfig
  config/telink/chip-module/Kconfig.defaults
  scripts/tools/telink/merge_factorydata_dac.py
  scripts/tools/telink/mfg_tool.py
  src/platform/telink/CHIPDevicePlatformConfig.h
  src/platform/telink/FactoryDataParser.c
  src/platform/telink/FactoryDataParser.h
  src/platform/telink/FactoryDataProvider.cpp
  src/platform/telink/FactoryDataProvider.h
  src/platform/telink/tl3218x_2m_flash.overlay
Labels: platform, config, telink, scripts

#368 telink: add support for 8 groups
  config/telink/app/bootloader.conf
  config/telink/app/bootloader_compress_lzma.conf
  src/platform/telink/CHIPPlatformConfig.h
  src/platform/telink/FactoryDataParser.c
Labels: platform, config, telink

#371 riscv: telink: adjust analog register and deferred storage for tl3218
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  examples/lighting-app/telink/CMakeLists.txt
  examples/lighting-app/telink/src/AppTask.cpp
  examples/platform/telink/common/src/AppTaskCommon.cpp
Labels: examples, platform, config, telink, github, workflows

#367 riscv: telink: add compile support for tl7218x .
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
Labels: config, github, workflows, scripts, DNM

#369 riscv: telink: add compile support for tl3218x .
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  src/platform/telink/SystemPlatformConfig.h
Labels: platform, config, telink, github, workflows

#372 Develop customer b92 opt
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
Labels: config, github, workflows

#374 riscv: telink: seperate ram for tl3218x .
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
Labels: config, github, workflows

#370 [Telink] Add tl7218_retention target
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/telink/tl7218_2m_flash.overlay
Labels: platform, config, telink, github, workflows, scripts

#375 [Telink] Separate ram for tl3218x
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
Labels: config, github, workflows

#378 [Telink] Adopt WiFi driver
  src/platform/telink/wifi/ConnectivityManagerImplWiFi.cpp
  src/platform/telink/wifi/TelinkWiFiDriver.cpp
  src/platform/telink/wifi/TelinkWiFiDriver.h
  src/platform/telink/wifi/WiFiManager.cpp
  src/platform/telink/wifi/WiFiManager.h
Labels: platform, telink

#377 [Telink] remove b95 SoC / TLSR9258a board (replaced by TL721x)
  .github/workflows/chef.yaml
  .github/workflows/examples-telink.yaml
  config/telink/chip-module/Kconfig.defaults
  examples/air-quality-sensor-app/telink/README.md
  examples/all-clusters-app/telink/README.md
  examples/all-clusters-minimal-app/telink/README.md
  examples/bridge-app/telink/README.md
  examples/contact-sensor-app/telink/README.md
  examples/light-switch-app/telink/README.md
  examples/lighting-app/telink/README.md
  examples/lock-app/telink/README.md
  examples/ota-requestor-app/telink/README.md
  examples/pump-app/telink/README.md
  examples/pump-controller-app/telink/README.md
  examples/shell/telink/README.md
  examples/smoke-co-alarm-app/telink/README.md
  examples/temperature-measurement-app/telink/README.md
  examples/thermostat/telink/README.md
  examples/window-app/telink/README.md
  scripts/build/build/targets.py
  scripts/build/builders/telink.py
  scripts/build/testdata/all_targets_linux_x64.txt
  src/platform/telink/tlsr9258a_2m_flash.overlay
  src/platform/telink/tlsr9258a_retention.overlay
Labels: examples, platform, config, telink, github, workflows, scripts

#381 Revert InetUtils.cpp Telink dependency
  src/platform/Zephyr/InetUtils.cpp
Labels: platform, github, workflows, zephyr
